<head>
  <meta charset="utf-8">

  <title>Predictive Emotion Service</title>

  <meta name="description" content="Predictive Emotion Service API Docs">
  <meta name="author" content="Raymund Lew">

  <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Embed Seed -->
  <script src="https://api.apiary.io/seeds/embed.js"></script>
  <!-- /Embed Seed -->
  <link rel="stylesheet" type="text/css" href="/static/main.css" />

</head>
